.menu--logo {
  background-color: transparent;
  font-family: 'Oranienbaum', serif;
  text-align: center;
  line-height: 40px;
  color: #FFF;
  display: inline-block;
  width: 150px;
  font-weight: 500;
  letter-spacing: 5px;
}

.menu--logo image {
  width: 100%;
  margin-top: 5px;
  display: inline-block;
}
@import url(https://fonts.googleapis.com/css?family=Oranienbaum);

html {

  -ms-text-size-adjust: 100%;

  -webkit-text-size-adjust: 100%;

}

*, *:before, *:after {

  -webkit-box-sizing: border-box;

  -moz-box-sizing: border-box;

  box-sizing: border-box;

}

input, textarea {

  -webkit-appearance: none;

  -webkit-border-radius: 0;

}

#Layer_1 {
  width: 100px;
  margin-top: 5px;
}

button, html input[type="button"],/* 1 */ input[type="reset"], input[type="submit"] {

  -webkit-appearance: button;

  cursor: pointer;

 *overflow:visible;

}

body, img {

  transition: all .2s linear;

  -o-transition: all .2s linear;

  -moz-transition: all .2s linear;

  -webkit-transition: all .2s linear;

}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, summary, time, mark, audio, video, input, main {

  -webkit-box-sizing: border-box;

  -moz-box-sizing: border-box;

  box-sizing: border-box;

  margin: 0;

  padding: 0;

  vertical-align: baseline;

  border: 0;

  outline: 0;

}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, img, main {

  display: block

}

audio, canvas, video {

  display: inline-block;

 *display:inline;

 *zoom:1

}

blockquote:before, blockquote:after, q:before, q:after {

  content: '';

  content: none;

}

.clear {

  clear: both;

  line-height: 0;

  height: 0;

}

a {

  text-decoration: none;

  outline: none;

  color: #010101;

  transition-delay: 0s;

  transition-duration: 0.6s;

  transition-property: all;

  transition-timing-function: ease;

}

a:focus, img:focus, button:focus, .btn:focus {

  outline: none;

}



::-moz-selection {

 background-color:#c9bc17;

 color:#fff;

 text-shadow:none;

}

::selection {

  background-color: #c9bc17;

  color: #fff;

  text-shadow: none;

}


.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

@font-face {

  font-family: 'Roboto', sans-serif;

  font-family: 'Oranienbaum', serif;

}

/*===== Main ===

main[role="main-wrapper-iamge"],main[role="main-wrapper-iamge"] > .over-bg-color{ background-image:url(../images/1.jpg); background-size:cover; background-position:50% 0; background-repeat:no-repeat; width:100%; height:100%; position:fixed; width:100%; height:100%}
*/
main[role="main-wrapper-iamge"] > .over-bg-color{background-color:rgba(255,255,255,0.5); background-image:none; padding:0}

/*===== Header ===*/

header[role="header"]{ position: fixed; bottom:0; left:0; right:0; width:100%; padding:0 5%; z-index:6}

header[role="header"] > hgroup{background-color:rgba(255,255,255,0.7); overflow:hidden; position:relative }

header[role="header"] > hgroup > h1{ padding:0; margin:0; display:inline-block; position:relative; z-index:5}

header[role="header"] > hgroup > h1 > a{ background-color:transparent; font-family: 'Oranienbaum', serif;text-align:center; line-height:40px;color:#FFF ;display:inline-block; width:157px; font-weight:500; letter-spacing:5px; margin-top: 5px;}

header[role="header"] > hgroup > h1 > a:hover{ text-decoration:none }

/*===== Nav ===*/

header[role="header"] > hgroup nav{ float:none; clear:both; text-align:center; display:inline-block; position:absolute; left:0; right:0}

.menu__items { padding:0; margin:0; list-style:none; text-align:center; border:none}

.menu__items > li{ float:none; display:inline-block; font-size:12px; text-transform:uppercase; letter-spacing:2px; font-weight:400; margin:0 18.5px}

.menu__items > li > a{border-radius:0;border:none; padding:0; line-height:52px; display:block;color:#353535}

.menu__items > li.active a,.menu__items > li a:hover{ background-color: inherit; border:none; color:#c9bc17; text-decoration:none}

header[role="header"] > hgroup nav .nav-tabs>li.active>a, header[role="header"] > hgroup nav .nav-tabs>li.active>a:focus, header[role="header"] > hgroup nav .nav-tabs>li.active>a:hover{ background-color: inherit; border:none;color:#c9bc17}

/*===== Socil-Icons ===*/

header[role="header"] > hgroup .mobile-social{ display:none} 

header[role="header"] > hgroup ul[role="socil-icons"]{ list-style:none; padding:0; margin:0; text-align:right; float:right; position:relative; z-index:5}

header[role="header"] > hgroup ul[role="socil-icons"].mobile-social{ display:none}

header[role="header"] > hgroup ul[role="socil-icons"] li{ display:inline-block; margin-right:21px}

header[role="header"] > hgroup ul[role="socil-icons"] li > a{ display:block; line-height:52px; font-size:13px; color:#353535}

header[role="header"] > hgroup ul[role="socil-icons"] li a:hover{ color:#c9bc17}

/*===== Footer ===*/

header[role="header"] footer{ text-align:right}

header[role="header"] footer > p,footer.mobile p{ font-size:12px; line-height:50px; color:#353535; font-weight:400}

header[role="header"] footer > p > i,footer.mobile p i{ color:#c9bc17; display:inline-block; padding:0 5px}

footer.mobile{ display:none}


/*===== Page-title ===*/

article header.page-title h2{ text-align:center;font-family: 'Oranienbaum', serif; text-transform:uppercase; font-size:24px; line-height:26px; color:#353535; font-weight:400; letter-spacing:3px; position:relative; margin-bottom:36px; padding:0; margin-top:0}

article header.page-title h2:after{ content:""; display:block; width:98px; height:3px; position:absolute; left:0; right:0; bottom:-12px; margin:0 auto; background-color:#c9bc17}

#menu-button {
  display: none;
}

@media (max-width: 767px) {
  header[role="header"] > hgroup nav {
    display: block;
    position: relative;
  }
  #menu-button {
    display: block;
  }

  #menu-button.open {
    background-color: #c9bc17;
  }

  .menu__items {
    max-height: 0;
    transition: all 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  }

  .menu__items > li {
    display: none;
  }

  .menu__items.open > li {
    display: block;
    margin: 0;
    border-bottom: 1px solid #CCC;
  }

  .menu__items.open {
    overflow-y: hidden;
    max-height: 120px;
  }
}

