.calendar--container {
  background-color: white;
}

.rbc-month-view {
  display: block !important;
}

// EditBooking styles

.edit__controls .btn-default {
  float: left;
  margin: 20px;
}

.edit__controls .btn-danger {
  float: right;
  margin: 20px;
}

.edit__form {
  margin: 50px;
}