.app-mask {
  background-color: rgba(255,255,255,0.4);
  position: fixed;
  width: 100%;
  height: 100%;
}
.over-bg {
	background-color: rgba(255,255,255,0.4);
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.app__content {
    height: 80vh;
    overflow-y: scroll;
    width: 100%;
}

@media (max-width: 767px) {
  .app__content {
    height: 100vh;
}

  .floating-button {
    bottom: 20px;
    right: 20px;
  }
  .container {
    padding-top: 100px;
  }
}